a{
    text-decoration: none;
    color: #fff;
}

/* navbar started */

.nav-text{
    font-size: 1.5rem;
}

.franchise{
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 30px;
}

.order{
    background-color: #ed1c24;
    color: #ffffff;
    border: none;
    border-radius: 30px;
}

.arrow-icon{
    color: #dc3545;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
}

/* navbar ended */

/* slider started */

.slider-img{
    width: 100%;
}

/* slider ended */

/* section1 started */

.item1{
    margin-top: 50px;
}
.item1-head{
    font-size: 4rem;
    line-height: 1.3;
}
.item1-para{
    font-size: 1.5rem;
    letter-spacing: 1px;
}

/* section1 ended */

/* section2 started */

.section2{
    background-color: #0f0f0f;
}
.head2{
    font-size: 40px;
}
.para2{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
/* section2 ended */